<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h1 class="display fw-bold">Homa Page</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quas debitis sapiente maiores quasi provident quidem laudantium tempore. Error magnam beatae quae maiores ad eaque dolorum nam adipisci? Voluptate, animi.</p>
        <button class="btn btn-primary btn-lg">Button</button>
    </div>
</div>