 @{
   ViewBag.Title = "Bootcamp Özeti";
 }
 <main class="text-center">
<h1 class="h4">Toplantı Katılım Formu</h1>
<p>Toplantıya sizinle birlikte 27 kişi katılıyor.</p>
<button class="btn btn-primary" href="#">Kaydet</button>
 </main>
